{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>UniMarket: Home</title>
        <link rel="stylesheet" href="{% static 'css/style-home.css' %}">
    </head>
    <body>
        <div class = "container">
            <div class = "fst-column">
                <a href="/"><img src="{% static 'images/logo_bigger.png' %}" alt="#" /></a>
            </div>
            <div class = "scnd-column">
                <div class="block-3">
                    <p>Welcome!</p>
                    <span>Since our opening, we have become masters of our craft. our commitment to quality products, exceptional services and incomparable customer care keep our community coming back again and again.</span>
                    <div class="button-lets-go">
                    <div class="item button-parrot" style="--bg-color: #2c3e50">
                        <a href="shop"><button >Let`s shopping!
                          <div class="parrot"></div>
                          <div class="parrot"></div>
                          <div class="parrot"></div>
                          <div class="parrot"></div>
                          <div class="parrot"></div>
                          <div class="parrot"></div>
                        </button></a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>